@page "/Books/edit"
@inject BookManagerApp.Data.BookManagerAppContext DB
@using BookManagerApp.Components.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Book</h4>
<hr />
@if (Book is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Book" OnValidSubmit="UpdateBook" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Book.BookId" value="@Book.BookId" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Book.Title" class="form-control" />
                    <ValidationMessage For="() => Book.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author:</label>
                    <InputText id="author" @bind-Value="Book.Author" class="form-control" />
                    <ValidationMessage For="() => Book.Author" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="publisher" class="form-label">Publisher:</label>
                    <InputText id="publisher" @bind-Value="Book.Publisher" class="form-control" />
                    <ValidationMessage For="() => Book.Publisher" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="registdate" class="form-label">RegistDate:</label>
                    <InputText id="registdate" @bind-Value="Book.RegistDate" class="form-control" />
                    <ValidationMessage For="() => Book.RegistDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="registuser" class="form-label">RegistUser:</label>
                    <InputText id="registuser" @bind-Value="Book.RegistUser" class="form-control" />
                    <ValidationMessage For="() => Book.RegistUser" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedate" class="form-label">UpdateDate:</label>
                    <InputText id="updatedate" @bind-Value="Book.UpdateDate" class="form-control" />
                    <ValidationMessage For="() => Book.UpdateDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updateuser" class="form-label">UpdateUser:</label>
                    <InputText id="updateuser" @bind-Value="Book.UpdateUser" class="form-control" />
                    <ValidationMessage For="() => Book.UpdateUser" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/books">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int BookId { get; set; }

    [SupplyParameterFromForm]
    public Book? Book { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Book ??= await DB.Book.FirstOrDefaultAsync(m => m.BookId == BookId);

        if (Book is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateBook()
    {
        DB.Attach(Book!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BookExists(Book!.BookId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/books");
    }

    bool BookExists(int bookid)
    {
        return DB.Book.Any(e => e.BookId == bookid);
    }
}
